@font-face {
  font-family: 'bearsicle';
  src:  url('//asuzaa.github.io/bearsicle.eot');
  src:  url('//asuzaa.github.io/bearsicle.eot?iefix') format('embedded-opentype'),
    url('//asuzaa.github.io/bearsicle.ttf') format('truetype'),
    url('//asuzaa.github.io/bearsicle.woff') format('woff'),
    url('//asuzaa.github.io/bearsicle.svg#bearsicle') format('svg');
    url('') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bear-"], [class*=" bear-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bearsicle' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bear-moth:before {
  content: "\e11";
}
.bear-compass:before {
  content: "\e12";
}
