/* HEIKO'S COLORS & UNICODES */
#hes {
  --unicode:'\e904';
  --main:140, 108, 63;
  --alt:196, 174, 82;
} 

#august {
  --unicode:'\e336';
  --main: 109,70,91;
  --alt: 62,48,84;
}

#elian {
  --unicode:'\e902';
  --main: 60, 113, 120;
  --alt: 219, 144, 94;
}

#kai {
  --unicode:'\e907';
  --main: 100, 93, 201;
  --alt:  194, 91, 175;
}

#nik {
  --unicode:'\e65';
  --main: 130, 35, 38; 
  --alt: 87, 22, 22; 
}

#niki {
  --unicode:'\e66';
  --main: 130, 35, 38; 
  --alt: 135, 58, 55; 
}

#henry {
  --unicode:'\e93';
  --main:219, 166, 112;
  --alt:179, 96, 48;
} 

#gideon {
  --unicode:'\e555';
  --main:83, 151, 212;
  --alt:46, 58, 110;
}

#loni {
--unicode:'\e78';
  --main:184, 126, 39; 
  --alt:252, 230, 139;
}

#evie {
  --unicode:'\e46';
  --main:148, 49, 79;
  --alt:134, 40, 143;
} 

#vin{
  --unicode:'\e901';
  --main: 232, 118, 84;
  --alt:  92, 65, 130;
}

#virgil {
  --unicode:'\e903';
  --main: 62, 94, 30; 
  --alt: 112, 191, 96; 
}

#yosuke {
  --unicode:'\e782';
  --main:99, 11, 11;
  --alt:227, 81, 48;
}

#yves {
  --unicode:'\e333';
  --main:128, 164, 191;
  --alt:87, 122, 125;
}

#aurelie {
  --unicode:'\e50';
  --main:223, 186, 100;
  --alt:224, 165, 45;
}

#cain {
  --unicode:'\e02';
  --main:150, 199, 193;
  --alt:87, 171, 161;
}

#cain02 {
  --unicode:'\e789';
  --main:150, 199, 193;
  --alt:87, 171, 142;
}

#guille {
  --unicode:'\e98';
  --main:105, 132, 155;
  --alt:59, 79, 120;
}

#izzy {
  --unicode:'\e67';
  --main:73, 38, 112;
  --alt:47, 38, 112;
}

#leo {
  --unicode:'\e69';
  --main: 136, 167, 149; 
  --alt: 81, 122, 98; 
}

#lydia {
--unicode:'\e58';
  --main:147, 115, 201;
  --alt:194, 118, 153;
}

#sarika2 {
  --unicode:'\e22';
  --main:184, 68, 101;
  --alt:140, 36, 68;
}

#xavi {
  --unicode:'\e88';
  --main:98, 97, 154;
  --alt:67, 66, 128;
}

#vanille {
  --unicode:'\e536';
  --main:224, 126, 112;
  --alt:150, 56, 53;
}

#yvonne {
  --unicode:'\e77';
  --main:150, 96, 148;
  --alt:100, 55, 125;
}


