/* HEIKO'S COLORS & UNICODES */
#aurelie {
  --unicode:'\e50';
  --main:223, 186, 100;
  --alt:224, 165, 45;
}

#cain {
  --unicode:'\e02';
  --main:150, 199, 193;
  --alt:87, 171, 161;
}

#cain02 {
  --unicode:'\e789';
  --main:73, 134, 158;
  --alt:105, 150, 120;
}

#guille {
  --unicode:'\e98';
  --main:105, 132, 155;
  --alt:59, 79, 120;
}

#izzy {
  --unicode:'\e67';
  --main:73, 38, 112;
  --alt:47, 38, 112;
}

#leo {
  --unicode:'\e69';
  --main: 136, 167, 149; 
  --alt: 81, 122, 98; 
}

#lydia {
--unicode:'\e58';
  --main:147, 115, 201;
  --alt:194, 118, 153;
}

#sarika2 {
  --unicode:'\e22';
  --main:184, 68, 101;
  --alt:140, 36, 68;
}

#xavi {
  --unicode:'\e88';
  --main:98, 97, 154;
  --alt:67, 66, 128;
}

#vanille {
  --unicode:'\e536';
  --main:224, 126, 112;
  --alt:150, 56, 53;
}

#yvonne {
  --unicode:'\e77';
  --main:150, 96, 148;
  --alt:100, 55, 125;
}

#hesiod {
  --unicode:'\e735';
  --main: 179, 129, 48;
  --alt: 150, 110, 23;
}

#uriel {
  --unicode:'\a95';
  --main: 163, 168, 207;
  --alt: 131, 130, 194;
}

#aris {
  --unicode:'\e92f';
--main:181, 218, 235;
  --alt:146, 204, 214;
}

#asa {
  --unicode:'\e722';
  --main:134, 161, 176;
  --alt: 116, 137, 168;
}

#elian {
  --unicode:'\e733';
  --main: 113, 148, 153;
  --alt: 125, 146, 161;
}


#nikias {
  --unicode:'\e724';
  --main: 186, 145, 115; 
  --alt: 153, 124, 146; 
}

#gideon {
  --unicode:'\e729';
  --main:113, 134, 199;
  --alt:71, 123, 179;
}

#lottie {
--unicode:'\e720';
  --main:216,192,188; 
  --alt:170,104,144;
}


#virgil {
  --unicode:'\e734';
  --main: 62, 94, 30; 
  --alt: 194, 109, 56;  
}

#viv {
  --unicode:'\e732';
  --main: 242, 211, 229;
  --alt:  224, 164, 178;
}

#yosuke {
  --unicode:'\e731';
  --main:168, 151, 191;
  --alt:172, 136, 184;
}

#ilyas {
  --unicode: "\e786";
  --main:170,152,169;
  --alt:184,148,151;
}




