/* HEIKO'S COLORS & UNICODES */

#elian {
  --unicode:'\e900';
  --main: 35, 35, 61;
  --alt:  7, 19, 33;
}

#virgil {
  --unicode:'\e903';
  --main: 146, 165, 214; 
  --alt: 104, 124, 176; 
}

#leo {
  --unicode:'\e969';
  --main: 183, 199, 192;
  --alt:107, 120, 114; 
}
