@font-face {
  font-family: 'heiko';
   src:  url('//asuzaa.github.io/heiko.eot');
   src:  url('//asuzaa.github.io/heiko.eot?iefix') format('embedded-opentype'),
    url('//asuzaa.github.io/heiko.ttf') format('truetype'),
    url('//asuzaa.github.io/heiko.woff') format('woff'),
    url('//asuzaa.github.io/heiko.svg#heiko') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="h-"], [class*=" h-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heiko' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-ilyas:before {
  content: "\e786";
}

.h-lottie:before {
  content: "\e720";
}
.h-candle:before {
  content: "\e721";
}
.h-asa:before {
  content: "\e722";
}
.h-potion:before {
  content: "\e723";
}
.h-niki-2:before {
  content: "\e724";
}
.h-niki:before {
  content: "\e725";
}
.h-loni:before {
  content: "\e726";
}
.h-henry:before {
  content: "\e727";
}
.h-yves:before {
  content: "\e728";
}
.h-gideon:before {
  content: "\e729";
}
.h-yosuke:before {
  content: "\e731";
}
.h-vivian:before {
  content: "\e732";
}
.h-elian:before {
  content: "\e733";
}
.h-virgil:before {
  content: "\e734";
}
.h-hesiod:before {
  content: "\e735";
}
.h-kai:before {
  content: "\e736";
}
