/* HEIKO'S COLORS & UNICODES */

#hesiod {
  --unicode:'\e735';
  --main: 179, 129, 48;
  --alt: 150, 110, 23;
}

#uriel {
  --unicode:'\a95';
  --main: 162, 134, 163;
  --alt: 131, 130, 194;
}

#aris {
  --unicode:'\e92f';
--main:156, 196, 219;
  --alt:114, 163, 196;
}

#asa {
  --unicode:'\e722';
  --main:134, 161, 176;
  --alt: 116, 137, 168;
}

#elian {
  --unicode:'\e733';
  --main: 113, 148, 153;
  --alt: 125, 146, 161;
}


#nikias {
  --unicode:'\e724';
  --main: 186, 145, 115; 
  --alt: 153, 124, 146; 
}

#gideon {
  --unicode:'\e729';
  --main:113, 134, 199;
  --alt:71, 123, 179;
}

#lottie {
--unicode:'\e720';
  --main:219, 158, 175; 
  --alt:170,104,144;
}


#virgil {
  --unicode:'\e734';
  --main: 62, 94, 30; 
  --alt: 194, 109, 56;  
}

#viv {
  --unicode:'\e732';
  --main: 213,162,148;
  --alt:  222,188,178;
}

#yosuke {
  --unicode:'\e731';
  --main:168, 151, 191;
  --alt:172, 136, 184;
}

#ilyas {
  --unicode: "\e786";
  --main:170,152,169;
  --alt:184,148,151;
}


