@font-face {
  font-family: 'e-crow';
  src:  url('fonts/e-crow.eot?tjteah');
  src:  url('fonts/e-crow.eot?tjteah#iefix') format('embedded-opentype'),
    url('/fonts/e-crow.ttf?tjteah') format('truetype'),
    url('/fonts/e-crow.woff?tjteah') format('woff'),
    url('/fonts/e-crow.svg?tjteah#e-crow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="se-"], [class*=" se-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'e-crow' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-crow:before {
  content: "\e900";
}