@font-face {
  font-family: 'heiko';
   src:  url('//asuzaa.github.io/heiko.eot');
   src:  url('//asuzaa.github.io/heiko.eot?iefix') format('embedded-opentype'),
    url('//asuzaa.github.io/heiko.ttf') format('truetype'),
    url('//asuzaa.github.io/heiko.woff') format('woff'),
    url('//asuzaa.github.io/heiko.svg#heiko') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hko-"], [class*=" hko-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heiko' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hko-ilyas:before {
  content: "\e786";
}
.hko-lottie:before {
  content: "\e720";
}
.hko-candle:before {
  content: "\e721";
}
.hko-asa:before {
  content: "\e722";
}
.hko-potion:before {
  content: "\e723";
}
.hko-niki-2:before {
  content: "\e724";
}
.hko-niki:before {
  content: "\e725";
}
.hko-loni:before {
  content: "\e726";
}
.hko-henry:before {
  content: "\e727";
}
.hko-yves:before {
  content: "\e728";
}
.hko-gideon:before {
  content: "\e729";
}
.hko-yosuke:before {
  content: "\e731";
}
.hko-vivian:before {
  content: "\e732";
}
.hko-elian:before {
  content: "\e733";
}
.hko-virgil:before {
  content: "\e734";
}
.hko-hesiod:before {
  content: "\e735";
}
.hko-kai:before {
  content: "\e736";
}

