@font-face {
  font-family: 'heiko';
  src:  url('//asuzaa.github.io/heiko.eot');
  src:  url('//asuzaa.github.io/heiko.eot?iefix') format('embedded-opentype'),
    url('//asuzaa.github.io/heiko.ttf') format('truetype'),
    url('//asuzaa.github.io/heiko.woff') format('woff'),
    url('//asuzaa.github.io/heiko.svg#heiko') format('svg');
    url('') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="h-"], [class*=" h-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'heiko' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-vin:before {
  content: "\e901";
}
.h-niki-2:before {
  content: "\e65";
}
.h-niki:before {
  content: "\e66";
}
.h-eli:before {
  content: "\e902";
}
.h-loni:before {
  content: "\e78";
}
.h-henry:before {
  content: "\e93";
}
.h-virgil:before {
  content: "\e903";
}
.h-kai:before {
  content: "\e907";
}
.h-hesiod:before {
  content: "\e904";
}


