/* MATCHA PERSONAL USE */


.matcha-wrap {
  width: 420px;
  margin: 20px auto;
  padding: 28px;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgba(var(--main), .85),
    rgba(var(--alt), .75));
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 23px;
}

.matcha-inner {
  position: relative;
  width: 90%;
  padding: 25px;
  background-color: #f4f4f4;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(var(--main), .06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--main), .06) 1px, transparent 1px);
  border-right: solid rgba(var(--main), .8);
  border-bottom: solid rgba(var(--main), .8);
  border-radius: 6px;
}

.matcha-inner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 12px;
  background:
    repeating-linear-gradient(
      90deg,
      #f4f4f4 0 13px,
      transparent 13px 22px);
}

.matcha-date {
  position: relative;
  z-index: 2;
  width: 175px;
  height: 40px;
  margin-left: -30px;
  line-height: 45px;
  text-align: center;
  background: #ebebeb;
  opacity: .7;
  font-family: 'Gochi Hand';
  text-transform: uppercase;
  --mask: conic-gradient(
      from -135deg at right,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    ) 50%/100% 10px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.matcha-date span {
  font-size: 20px;
}

.matcha-date b {
  color: rgba(var(--main));
  font-weight: 900;
}

.matcha-banner:before {
  content: var(--unicode);
  position: absolute;
  top: -40px;
  right: -20px;
  z-index: 5;
  font-family: 'heiko', 'jemmy', 'starry', 'seelie';
  font-size: 60px;
  line-height: 1;
  padding: 35px 15px 45px;
  color: #4d4d4d;
  background: #f4f4f4;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  text-shadow:
    1px 0 rgba(var(--main), .5),
    0 1px rgba(var(--alt), .6);
}

.matcha-body {
  padding: 35px 27px 15px;
  color: #666;
  text-align: justify;
   font-weight: 500;
}

.matcha-body span.dice-roll {
    font-size:14px;
    font-weight:600;
    color:#f4f4f4;
    background:rgba(var(--main));
    background:linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
    padding:5px 10px;
    border-radius:5px;
    text-shadow: -1px 0 rgba(var(--main)), 0 1px rgba(var(--main)), 1px 0 rgba(var(--main)), 0 -1px rgba(var(--main));
}

.matcha-body span.dice-roll b {
  font-weight:700;
  text-transform:uppercase;
    font-family: 'Gochi Hand';
  color:#f9f9f9!important;
}

.matcha-body b {
  color: rgba(var(--main), .8);
  font-weight: 700;
}

.matcha-body i {
  color: rgba(var(--main), .8);
}

.matcha-body u {
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid;
  border-image:
    linear-gradient(
      to right,
      rgba(var(--main)),
      rgba(var(--alt))) 1;
}

.matcha-body hr {
  border: none;
  border-bottom: 1px solid;
  border-image:
    linear-gradient(
      rgba(var(--main)),
      rgba(var(--alt))) 1;
}

.matcha-tag {
  margin-top: 50px;
  text-align: right;
  font: 14px 'Gochi Hand', sans-serif;
  width: 50%;
  margin-left: auto;
  text-align: right;
}

.matcha-tag a {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 600;
 text-transform: uppercase;
}

.matcha-tag a:before {
    content: ", ";
}

.matcha-tag a:first-of-type:before {
 content: "to: ";
 color: rgba(var(--main), 0.8);
}

.matcha-bottom {
  margin-top: 20px;
  height: 12px;
}

.matcha-dot,
.matcha-dot2,
.matcha-dot3,
.matcha-dot4 {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.matcha-dot {
  background: rgba(var(--main), .75);
}

.matcha-dot2 {
  margin-left: 10px;
  background: rgba(var(--main), .65);
}

.matcha-dot3 {
  margin-left: 10px;
  background: rgba(var(--alt), .55);
}

.matcha-dot4 {
  margin-left: 10px;
  background: rgba(var(--alt), .45);
}
