/* MATCHA PERSONAL USE */

.matcha-wrap{    
  width:420px;    
  background-image: linear-gradient(180deg, rgba(var(--main), 0.85), rgba(var(--alt), 0.75));
  border:0px solid;
  border-radius: 5px;
  padding:28px;    
  margin:20px auto 20px auto;    
  font-family: 'Quicksand';
  font-weight:550;
  font-size:15px;
  line-height:23px;
  position:relative;
  overflow:hidden;
  text-align:right;   
  min-height: 300px;
} 
.matcha-inner { 
 width: 90%;
 background-color: #f4f4f4;
 background-size: 20px 20px;
 background-image:
    linear-gradient(to right, rgba(var(--main), 0.15), 1px, transparent 1px),
    linear-gradient(to bottom, rgba(var(--main), 0.15), 1px, transparent 1px);
 min-height: 300px; 
 border-radius:6px;
 border-bottom:  solid;
 border-right:  solid;
 border-color:  rgba(var(--main), .80);
 padding: 25px;
 z-index:6;
} 

.matcha-date{    
  position: relative;
  top: 10px;
  bottom: 10px;
  left: 0px;    
  border-radius: 55px;
  width: 175px;
  height: 40px;
  line-height: 45px;
  margin-left:-30px;
  text-align: center;
  color: #4d4d4d;
  border-radius: 0px 00px 0px 0px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Gochi Hand';
  z-index: 1;
  background-color: #ebebeb; 
  opacity: 0.7;
      --mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 10px;
      -webkit-mask: var(--mask); mask: var(--mask);
}

.matcha-date span {
  text-align: inline-block;
  font-size: 20px;
  padding: 0px 5px 10px;
}

.matcha-date b {    
  color: rgba(var(--main));
  font-weight:900;
}

.matcha-body  {
  padding-bottom: 25px;
}
.matcha-body b {
  font-weight: 700;
  color: rgba(var(--main), 0.8);
}

.matcha-body u {  
  font-style: italic;
  border-bottom:3px solid;
  border-image: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
  border-image-slice: 1;
  font-weight:700;
  text-decoration: none;

}

.matcha-body i {
  color:#8c8c8c;
  color: rgba(var(--main), 0.8);
}

.matcha-banner:before{
  color: #4d4d4d;
  background: #f4f4f4;
     -webkit-background-clip: text;
     -webkit-text-stroke: 4px transparent;
  display: inline-block;
    -webkit-font-smoothing: antialiased;
  content:var(--unicode);
  font-family:'heiko', 'jemmy','starry','seelie' ;
    -webkit-font-smoothing:antialiased;
  font-size:60px;
  font-weight:500;
  line-height:100%;
  padding:35px 15px 45px;
  position:absolute;
  top:-10px; right:0px;
  text-shadow:
      1px 0px rgba(var(--main), 0.5),
      1px 0px rgba(var(--main), 0.5),
      0px 1px rgba(var(--alt), 0.6),
      0px 1px  rgba(var(--alt), 0.6);
  z-index: 5;
}

.matcha-body {    
  padding:50px 27px 20px 27px;    
  display:block;
  text-align:justify;    
  color:#666;
  font: 'Quicksand';
}

.matcha-body hr {    
	border: none;
	border-bottom: 0.95px solid;
	border-image: linear-gradient(rgba(var(--main)), rgba(var(--alt)));
	border-image-slice: 1;
	padding: 10px;
}

.matcha-bottom {
  margin:0px 0px -70px;
  padding: 25px 20px 30px 80px;
  border-radius: 10px;
  margin-left: -80px;
  width: 320px;
  height: 45px;
  font-size:13px;
  word-spacing: 1px;
  z-index: 2;
}

.matcha-dot {
  height: 12px; 
  width: 12px; 
  border-radius: 100%;
  background: rgba(var(--main), 0.75);
  float: left; 
  position: relative;
  top: -18px;
  left: -5px; 
}

.matcha-dot2 {
  height: 12px; 
  width: 12px; 
  border-radius: 100%;
  background: rgba(var(--main), 0.65);
  float: left; 
  position: relative;
  top: -18px;
  left: 5px; 
}

.matcha-dot3 {
  height: 12px; 
  width: 12px; 
  border-radius: 100%;
  background: rgba(var(--alt), 0.55);
  float: left; 
  position: relative;
  top: -18px;
  left: 15px; 
}

.matcha-dot4 {
  height: 12px; 
  width: 12px; 
  border-radius: 100%;
  background: rgba(var(--alt), 0.45);
  float: left; 
  position: relative;
  top: -18px;
  left: 25px; 
}

.matcha-tag {
  font: 14px 'Gochi Hand', sans-serif;
  text-align: right;
  width: 300px;
  position: relative;
  left: 40px;  
  top: 38px;
}

.matcha-tag a {
  display: inline-block;
  margin: 10px 0px -10px 0px;
  line-height: 95%;
  text-align: left;
  text-transform:uppercase!important;
  color: #7e7e7e;
  font-size:14px;
  font-weight:600;
}

.matcha-tag span.dice-roll {
  border:0px!important;
  display:inline-block;
  font-weight:500;
  line-height:14px;
}

.matcha-tag span.dice-roll b {
    border-bottom:2px solid;
    border-image: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
    border-image-slice: 1;
}

.matcha-tag a:before {
    content: 'to: ';
    color: rgba(var(--main), 0.8);
}
