/* HEIKO'S COLORS & UNICODES v2 */

#hesiod {
  --unicode:'\e735';
  --main: 179, 129, 48;
  --alt: 150, 110, 23;
}

#aris {
  --unicode:'\e721';
  --main:134, 198, 235;
  --alt:204, 69, 69;
}

#asa {
  --unicode:'\e722';
  --main: 96, 123, 138;
  --alt: 59, 85, 125;
}

#elian {
  --unicode:'\e733';
  --main: 60, 113, 120;
  --alt: 48, 68, 82;
}

#kai {
  --unicode:'\e736';
  --main: 100, 93, 201;
  --alt:  194, 91, 175;
}

#nikias {
  --unicode:'\e724';
  --main: 217, 134, 117; 
  --alt: 128, 91, 119; 
}

#gideon {
  --unicode:'\e729';
  --main:75, 102, 189;
  --alt:64, 80, 163;
}

#henry {
  --unicode:'\e727';
  --main:209, 122, 50;
  --alt:189, 149, 81;     
} 

#lottie {
--unicode:'\e720';
  --main:123, 207, 212; 
  --alt:52, 163, 163;
}

#evie {
  --unicode:'\e723';
  --main:148, 49, 79;
  --alt:134, 40, 143;
} 

#virgil {
  --unicode:'\e734';
  --main: 62, 94, 30; 
  --alt: 194, 109, 56;  
}

#viv {
  --unicode:'\e732';
  --main: 232, 118, 84;
  --alt:  92, 65, 130;
}

#yosuke {
  --unicode:'\e731';
  --main:158, 115, 155;
  --alt:130, 81, 101;
}

#ilyas {
  --unicontent: "\e786";
  --main:170,152,169;
  --alt:184,148,151;
}
