/* HEIKO'S COLORS & UNICODES v2 */

#hesiod {
  --unicode:'\a904';
  --main: 179, 129, 48;
  --alt: 150, 110, 23;
}

#aris {
  --unicode:'\a777';
  --main:134, 198, 235;
  --alt:204, 69, 69;
}


#august {
  --unicode:'\a336';
  --main: 109,70,91;
  --alt: 62,48,84;
}

#asa {
  --unicode:'\a845';
  --main: 96, 123, 138;
  --alt: 59, 85, 125;
}

#elian {
  --unicode:'\a902';
  --main: 60, 113, 120;
  --alt: 48, 68, 82;
}

#kai {
  --unicode:'\a907';
  --main: 100, 93, 201;
  --alt:  194, 91, 175;
}

#nikias {
  --unicode:'\a65';
  --main: 217, 134, 117; 
  --alt: 128, 91, 119; 
}

#gideon {
  --unicode:'\a555';
  --main:75, 102, 189;
  --alt:64, 80, 163;
}

#henry {
  --unicode:'\a93';
  --main:209, 122, 50;
  --alt:189, 149, 81;     
} 

#lottie {
--unicode:'\a900';
  --main:119, 242, 230; 
  --alt:52, 163, 163;
}

#evie {
  --unicode:'\a46';
  --main:148, 49, 79;
  --alt:134, 40, 143;
} 

#virgil {
  --unicode:'\a903';
  --main: 62, 94, 30; 
  --alt: 194, 109, 56;  
}

#viv {
  --unicode:'\a901';
  --main: 232, 118, 84;
  --alt:  92, 65, 130;
}

#yosuke {
  --unicode:'\a782';
  --main:158, 115, 155;
  --alt:130, 81, 101;
}
