/* HEIKO'S COLORS & UNICODES v2 */

#hesiod {
  --unicode:'\e904';
  --main: 161, 123, 42;
  --alt: 237, 147, 50;
}

#asa {
  --unicode:'\e33';
  --main: 109,70,91;
  --alt: 62,48,84;
}

#elian {
  --unicode:'\e902';
  --main: 60, 113, 120;
  --alt: 219, 144, 94;
}

#kai {
  --unicode:'\e907';
  --main: 100, 93, 201;
  --alt:  194, 91, 175;
}

#nikias {
  --unicode:'\e65';
  --main: 161, 32, 36; 
  --alt: 64, 3, 19; 
}

#gideon {
  --unicode:'\e555';
  --main:75, 102, 189;
  --alt:64, 80, 163;
}

#henry {
  --unicode:'\e93';
  --main:219, 126, 59;
  --alt:222, 183, 93;     
} 

#loni {
--unicode:'\e78';
  --main:184, 126, 39; 
  --alt:219, 116, 156;
}

#evie {
  --unicode:'\e46';
  --main:148, 49, 79;
  --alt:134, 40, 143;
} 

#virgil {
  --unicode:'\e903';
  --main: 62, 94, 30; 
  --alt: 137, 161, 32;  
}

#viv {
  --unicode:'\e901';
  --main: 232, 118, 84;
  --alt:  92, 65, 130;
}

#yosuke {
  --unicode:'\e782';
  --main:168, 74, 67;
  --alt:125, 48, 42;
}
