.taro-wrap {
  position: relative;
  width: 360px;
  min-height: 365px;        
  margin: 20px auto 0;
  padding: 22px 24px 35px 24px;  
  background-color: #656565;
  border-radius: 13px;      
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 12px;          
  line-height: 20px;        
  text-align: right;
  overflow: visible;
  z-index: 2;
}

.taro-wrap-back {
  position: absolute;
  top: 0;
  right: -65px;             
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  border-left: 2px double rgba(var(--main), .5);
  border-radius: 13px;
  z-index: -1;
}

.taro-date {
  position: absolute;
  top: 32px;
  right: 0;
  color: #656565;
  letter-spacing: -0.4px;
}

.taro-month {
  font-size: 31px;
  color: rgba(var(--main));
}

.taro-date:before {
  content: '\a136';
  font-family: 'starry';
  color: rgba(var(--main), 0.5);
}

.taro-bag {
  padding: 60px 0 35px 70px;  
  width: 300px;
  text-align: justify;
  color: #666;
  font-size: 13px;         
  font-family: 'Quicksand', sans-serif;
}

.taro-bag b {
  font-weight: 700;
  background: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.taro-bag u {
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt))) 1;
}

.taro-bag i {
  color: #8c8c8c;
}

.taro-bag hr {
  border: none;
  border-bottom: 0.85px solid;
  border-image: linear-gradient(rgba(var(--main)), rgba(var(--alt))) 1;
  padding: 8px;
}

/* ------------------------
   STICKER ICONS
------------------------ */

.taro-banner {
  position: absolute;
  width: 0;
  height: 0;
  font-family: 'heiko','jemmy','starry','seelie';
  pointer-events: none;
}

.taro-banner:before {
  content: var(--unicode);
  font-weight: 500;
  position: absolute;
  z-index: 4;
  color: white;
  -webkit-text-stroke: 10px white;   
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.08));
}

.taro-banner:after {
  content: var(--unicode);
  font-weight: 500;
  position: absolute;
  z-index: 5;
  background: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.banner-1 {
  bottom: 130px;
  left: 30px;
  font-size: 48px;
  line-height: 48px;
  transform: rotate(-5deg);
}

.banner-2:before,
.banner-2:after {
  content: '\a136';
}
.banner-2 {
  bottom: 165px;
  left: 10px;
  font-size: 42px;  
  line-height: 42px;
  transform: rotate(-15deg);
  filter: drop-shadow(1px 2px 2px rgba(var(--main), 0.2));
}
.banner-2:before {
  -webkit-text-stroke: 4.5px white;
}

.banner-3:before,
.banner-3:after {
  content: '\a136';
}
.banner-3 {
  bottom: 95px;
  left: 85px;
  font-size: 25px;
  line-height: 20px;
  transform: rotate(10deg);
  filter: drop-shadow(2px 1px 2px rgba(var(--alt), 0.18));
}
.banner-3:before {
  -webkit-text-stroke: 4.5px white;
}

/* ------------------------
   Dots / line
------------------------ */
.line {
  position: absolute;
  bottom: 115px;
  right: 5px;
  width: 130px;
  border-bottom: 1.5px solid #ddd;
}

/* ------------------------
   TAG AREA
------------------------ */
.taro-tag {
  padding-top: 40px;
  text-align: left;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
}

.taro-tag a.user-tagged {
  position: relative;
  display: inline-block;
  padding: 3.5px 9px;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #656565;
  background-color: #f4f4f4;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.taro-tag a.user-tagged::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 12px;
  background: linear-gradient(to right, rgba(var(--main),0.5), rgba(var(--alt),0.5));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 2;
}

.taro-tag:before {
  display: block;
  position: absolute;
  top: 16px;
  width: 85px;
  height: 75px;
  text-align: center;
  font-size: 75px;
  line-height: 75px;
  color: rgba(var(--main));
  background: -webkit-linear-gradient(rgba(var(--main),0.55), rgba(var(--alt),0.25));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  rotate: -10deg;
}

.taro-tag span.dice-roll {
  display: inline-block;
  font-weight: 600;
  line-height: 12px;
  border: 0 !important;
}

.taro-tag a {
  color: rgba(var(--black));
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
}

.taro-tag span.dice-roll b {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt))) 1;
}

.taro-notes {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  line-height: 15px;
  color: #666;
  text-align: right;
}

.taro-bottom {
  position: relative;
  border: 1px;
  width: 450px;
  height: 5px;
  bottom: 0;
  font-size: 11px;
  word-spacing: 1px;
}
