/* =========================
   TARO CODE
========================= */

.taro-wrap {
  position: relative;
  width: 400px;
  min-height: 400px;
  margin: 20px auto 0;
  padding: 25px 30px;
  background-color: #656565;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: right;
  overflow: visible;
  z-index: 2;
}

.taro-wrap-back {
  position: absolute;
  top: 0;
  right: -75px;
  width: 100%;
  height: 100%;
  background: #f4f4f4;

  border-left: 2px double rgba(var(--main), .5);
  border-radius: 15px;
  z-index: -1;
  border-left: 2px double rgba(var(--main), .5);
  border-radius: 15px;
  z-index: -1;
}


.taro-date {
  position: absolute;
  top: 40px;
  right: 0;
  color: #656565;
  letter-spacing: -0.5px;
}

.taro-month {
  font-size: 35px;
  color: rgba(var(--main));
}

.taro-date:before {
  content: '\a136';
  font-family: 'starry';
  color: rgba(var(--main), 0.5);
}

.taro-bag {
 padding: 80px 0 60px 90px;
  width:350px;
  display: block;
  text-align: justify;
  color: #666;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

.taro-bag b {
  font-weight: 700;
  background: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.taro-bag u {
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt))) 1;
}

.taro-bag i {
  color: #8c8c8c;
}

.taro-bag hr {
  border: none;
  border-bottom: 0.95px solid;
  border-image: linear-gradient(rgba(var(--main)), rgba(var(--alt))) 1;
  padding: 10px;
}


.taro-banner {
  position: absolute;
  width: 0;
  height: 0;
  font-family: 'heiko','jemmy','starry','seelie';
  pointer-events: none;
}


.taro-banner:before {
  content: var(--unicode);
  font-weight: 500;
  position: absolute;
  z-index: 4;
  color: white;
  -webkit-text-stroke: 15px white;
  filter: drop-shadow(0 3px 4px rgba(0,0,0,0.10));
}


.taro-banner:after {
  content: var(--unicode);
  font-weight: 500;
  position: absolute;
  z-index: 5;
  background: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.banner-1 {
  bottom: 170px;
  left: 40px;
  font-size: 60px;
  line-height: 60px;
  transform: rotate(-5deg);
}

.banner-2:before,
.banner-2:after {
  content: '.';           
}


.banner-2:before {
  -webkit-text-stroke: 6px white; 
}


.banner-3:before {
  -webkit-text-stroke: 6px white; 
}
.banner-2 {
  bottom: 210px;
  left: 10px;
  font-size: 50px;  
  line-height: 50px;
  transform: rotate(-15deg);
  filter: drop-shadow(1px 2px 2px rgba(var(--main), 0.25));
}


.banner-3:before,
.banner-3:after {
  content: '\a136';          
}

.banner-3 {
  bottom: 130px;
  left: 100px;
  font-size: 30px;         
  line-height: 25px;
  transform: rotate(10deg);
  filter: drop-shadow(2px 1px 3px rgba(var(--alt), 0.2));
}

.line {
 position: absolute;
  bottom: 150px; 
right:5px;
  width: 150px;
  border-bottom: 2px solid #ddd;
}

.taro-tag {
padding-top: 50px;
    text-align: left;
    position: relative;
    display: flex;
    flex-wrap: wrap;
justify-content: flex-end;
 gap: 6px; 
}

.taro-tag a.user-tagged {
  position: relative;
  display: inline-block;
  padding: 5px 12px;      
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  color: #656565;              
  background-color: #f4f4f4;  
  border-radius: 12px;        
  overflow: hidden;
  z-index: 1;                  
}

.taro-tag a.user-tagged::before {
  content: "";
  position: absolute;
  inset: 0;                    
  padding: 1px;                
  border-radius: 15px;         
   background: linear-gradient(
    to right,
    rgba(var(--main), 0.5),     
    rgba(var(--alt), 0.5)       
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;       
  z-index: 2;                  
}

.taro-tag:before {
 display: block;
  position: absolute;
  top: 20px;
    width:100px;
    height: 90px;
    text-align: center;
    font-size: 90px;
    color: rgba(var(--main));
    line-height: 90px;
    background: -webkit-linear-gradient(rgba(var(--main), 0.55), rgba(var(--alt), 0.25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  rotate: -10deg;
}

.taro-tag span.dice-roll {
  display: inline-block;
  font-weight: 600;
  line-height: 14px;
  border: 0 !important;
}

.taro-tag a {
color:rgba(var(--black));
  font-size:11px;
  font-weight:600;
  text-transform:uppercase;}

.taro-tag span.dice-roll b {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(var(--main)), rgba(var(--alt))) 1;
}

.taro-notes {
  position: absolute;
  top: 100%;        
  right: 0;
  width: 240px;     
  margin-top: 6px;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #666;
  text-align: right;
}

.taro-bottom {
  position: relative;
border: 1px;
  width: 500px;
  height: 5px;
  bottom: 0;
  font-size: 13px;
  word-spacing: 1px;
}
