@font-face {
  font-family: 'vin';
  src:  url('fonts/vin.eot?c1tluv');
  src:  url('fonts/vin.eot?c1tluv#iefix') format('embedded-opentype'),
    url('fonts/vin.ttf?c1tluv') format('truetype'),
    url('fonts/vin.woff?c1tluv') format('woff'),
    url('fonts/vin.svg?c1tluv#vin') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="s-vinny"], [class*=" s-vinny"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vin' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-vinnyvin:before {
  content: "\e901";
}
